body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfafaf;
}

.container {
    width: 60%;
    background: rgb(232, 218, 195);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-section, .user-section {
    margin-bottom: 20px;
}

.book-content {
    display: none;
    box-sizing: content-box;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
